# Build artifacts
build/
test/build/
.zig-cache/
zig-out/

# Temporaries and binaries
*.ll
*.bc
*.o
a.out

!test/**/*.ll

# IDE / editor
.cache
compile_commands.json
.vscode/
.idea/
*.swp
*.swo

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/

# OS
.DS_Store
Thumbs.db
